body{
    background-color: #B4DAF0;
    height: 800px;
}

.header{
    width: 80%;
    height: 20px;
    margin-left: 10%;
}

.content{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    padding: 15px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
}

.total_comment
{
    width: 80%;
    height: 20px;
    margin-left: 10%;
}

.times{
    font-size: 10px;

}