*{
    padding: 0px;
    margin: 0px;
}

body
{
    margin-left: 30%;
    width: 40%;
    background-color: #B4DAF0;
}


.header
{
    height:40%;
}

.header img
{
    width:80%;
    height:80%;
    margin-left: 10%;
}

.content
{
    height:40%;
}

.content form
{
    margin-top: 40px;
    margin-left: 38%;
}

.content span
{
    width: 80px;
}
.footer
{
    height:10%;
    clear: both;
    background-color: #B4DAF0;
    text-align: center;
    padding: 10px;

}