{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/article_archive_month.css' %}"/>
    <script language="javascript" type="text/javascript"></script>

</head>
<body>
    <div class="content">
        <ul>
            {% for article in title_list %}
            <li><span class="title">{{ article.title }}</span>: <span class="pub_date">{{ article.pub_date|date:"Y-m-d H:i"}}</span></li>
            &nbsp;&nbsp;&nbsp;&nbsp;{{article.content|truncatechars:100|safe}}
            {% endfor %}
        </ul>
        <p>
            {% if previous_month %}
            Previous Month: {{ previous_month|date:"F Y" }}
            {% endif %}
            {% if next_month %}
            Next Month: {{ next_month|date:"F Y" }}
            {% endif %}
        </p>
    </div>
    <div class="pagination">
                <span class="step-links">
                    {% if title_list.has_previous %}
                        <a href="?page={{ title_list.previous_page_number }}">上一页</a>
                    {% endif %}
                    <span class="current">
                        第 {{ title_list.number }} 页  共{{ title_list.paginator.num_pages }}页.
                    </span>
                    {% if title_list.has_next %}
                         <a href="?page={{ title_list.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
        </div>


</body>
</html>