{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{%  static 'news/css/comment.css' %}"/>
</head>
<div class="comment">
    <div class="comment-main">
        <form method="post" action="./comment ">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    {{ field }}
                    <!--{{ field.errors }}-->
                    <br>
                {% endfor %}
            </div>

           &nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="com-button">评论</button>
        </form>
        <p class="head">评论详情:<span class="total_comment">共有{{ comment_list.count }}条评论</span></p>
        {% for comment in comment_list %}
            <hr>
            <div class="main-content">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="user-nickname">{{ comment.author }}</span>
                <time class="time">&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.pub_date|date:"Y-m-d H:i" }}</time>
                <div class="comment-content">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.content }}
                </div>
            </div>
        {% endfor %}

    </div>
</div>
</html>