{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
<link rel="stylesheet" type="text/css" href="{% static 'news/css/detail.css' %}"/>

</head>
<body>
    <div class="header">
        {% if article  %}
        <h4><p align="center">{{ article.title }}&nbsp;&nbsp;<span class="times" >阅读{{article.clickCount}}次</span></p></h4>
    </div>
    <div class="content">
        <p>&nbsp;{% autoescape off %}&nbsp;&nbsp;&nbsp;{{article.content }}{% endautoescape %}</p>
        {% endif %}
    </div>
    <div>
            {% include 'news/comment.html' %}
    </div>
</body>
</html>



