{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
<link rel="stylesheet" type="text/css" href="{% static 'news/css/detail.css' %}"/>

</head>
<body>
    <div class="header">
        {% if article  %}
        <h4><p align="center">{{ article.title }}&nbsp;&nbsp;<span class="times" >阅读{{article.click_count}}次</span></p></h4>
    </div>
    <div class="content">
        {% autoescape off %}{{article.content }}{% endautoescape %}
        {% endif %}
    </div>
    <div>
            {% include 'news/comment.html' %}
    </div>
</body>
</html>



